---
layout: nil
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">

    {% seo %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>

    <!-- HEADER WITH TITLE + LOGO -->
    <header style="display:flex; justify-content:space-between; align-items:center; padding:20px;">
      <h1 style="margin:0;">{{ site.title }}</h1>

      {% if site.logo %}
      <img src="{{ site.logo | relative_url }}" alt="Logo" style="height:60px;">
      {% endif %}
    </header>

    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}
    </div>

  </body>
</html>
